.body {
    padding-top: 50px;
    .body__child {
        padding-bottom: 50px;
        color: #4a4a4a;
        img {
            width: 100%;
        }
        h3 {
            margin: 20px 0;
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
        a {
            background-color: $pripary_color;
            @extend %normal_button;
        }
    }
    h3 {

    }
}
