* {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style-type: none;
    }
}

a {
    text-decoration: none;
}

p {
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
hr {
    margin: 0;
}


